@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(0, 9%, 96%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.container{
    width: 100%;
    height: 400vh;
  
}
.box1{
    background-image: url("images/bg-header-desktop.png");
    height: 10%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; 
}
.logo{
    position: absolute;
    top: 20vh;
    left: 45vw;
    justify-items: center;
}
.logo img{
width: 100%;
height: auto;
}
.box2{
   text-align: center;
   width: 50%;
   margin: auto;
}
h1 {
    color: hsl(210, 10%, 33%);
}
h2 {
    color: hsl(210, 10%, 33%);
}
h3{
    color: hsl(210, 5%, 53%);
}
h4{
    color: hsl(210, 5%, 53%);
}
.widgets h3
{
    color: hsl(210, 10%, 33%);
}
.widgets h3
{
    color: hsl(210, 10%, 33%);
}
.icons h3{
    color: hsl(210, 10%, 33%);
}
.button1 h3{
    color: white;
}
.button2 h3{
    color: white;
}
.button1{
    padding: 15px;
    width: 20vw;
    background-color:hsl(171, 66%, 44%); 
    border: 0px;
    border-radius: 35px;
    /* margin-right: 10px;  */
    cursor: pointer; 
}
.button1:hover{ background-color:hsl(323, 100%, 69%)}

.button2{
    padding: 15px;
    width: 20vw;
    background-color:hsl(233, 100%, 69%);
    border: 0px;
    border-radius: 35px;
    cursor: pointer;
    margin-right: 10px; 
}

.button2:hover{ background-color:hsl(323, 100%, 69%)}


.box3{
    margin:auto;
    text-align: center;
    width: 50%;
    padding-top: 20vh;
    padding-bottom: 50px;

}
.main{
    display: flex;
}
.computer{
width: 100%;
height:100%;
margin-right: 15vw; 
}

.widgets{
width: 50%;
height:100%;
margin-right: 5vw; 
text-align: left;
}
img{
    width: 110%;
    height: 100%;
}
.description{
    margin:auto;
    padding-top:150px;
    width: 50%;
    text-align: center;
}
.device{
    padding: 50px;
    width: 70%;
    height:100%;
    margin-left: 15vw;
}
.workflow{
    text-align: center;
}
.icons{
    display: flex;
    margin:auto;
    padding-top:150px;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}
.sample1{
    height:20% ;
    width: 25%;
    text-align: center;
    
}
.sample2{
    height:20%;
    width: 25%;
    text-align: center;
}
.sample3{
    height:20% ;
    width: 25%;
    text-align: center;
}
.icons img{
    width: 20%;
    height:60%;
}
.para{
    width: 50%;
}

.more{
    margin-top: 30vh;
    display: flex;
    justify-content: space-evenly;
}
.more img{
    width: 100%;
    height: 80%;
}
.clipboard{
    padding-top: 20vh;
    margin:auto;
    text-align: center;
    width: 50%;
}
.button3 h3{
    color: white;
}
.button4 h3{
    color: white;
}
.button3{
    padding: 15px;
    width: 20vw;
    background-color:hsl(171, 66%, 44%); 
    border: 0px;
    border-radius: 35px;
    margin-right: 10px; 
    cursor: pointer; 
}
.button3:hover{ background-color:hsl(323, 100%, 69%)}

.button4{
    padding: 15px;
    width: 20vw;
    background-color:hsl(233, 100%, 69%);
    border: 0px;
    border-radius: 35px;
    cursor: pointer;
    margin-right: 10px; 
}

.button4:hover{ background-color:hsl(323, 100%, 69%)}

a{
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}
footer{
    margin-top: 20vh;
    background-color: hsla(213, 7%, 50%, 0.13);
    padding: 10px;
    width: 100%;
}
.foot{
    display: flex;
    margin: auto;
    width: 80%;
    padding: 10px;
}
.social{
    display: flex;
    width:25%;
    padding-top: 9vh;
    right: 0px;
}
.social img{
    width: 100%;
    height: 20%;
}
.social img:hover{
    cursor: pointer;
}
.child{
    padding: 10px;
}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding-top: 10px;
    width: 70%;

  }
  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: left;
    
  }
  .footer-logo{
      padding-top: 8vh;
      width: 25%;
  }
  .footer-logo img{
      width: auto;
      height: 60%;
  }

  @media only screen  and (max-width:830px){
    .logo{
        position: absolute;
        top: 20vh;
        left: 40vw;
        justify-items: center;
    }
    .button1{
        padding: 15px;
        width: 20vw;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        font-size: 10px;
    }    
    .button2{
        padding: 15px;
        width: 20vw;
        background-color:hsl(233, 100%, 69%);
        border: 0px;
        border-radius: 35px;
        cursor: pointer;
        font-size: 10px;
    }
    .button3{
        padding: 15px;
        width: 20vw;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        font-size: 10px;
    }    
    .button4{
        padding: 15px;
        width: 20vw;
        background-color:hsl(233, 100%, 69%);
        border: 0px;
        border-radius: 35px;
        cursor: pointer;
        font-size: 10px;
    }
  }
  @media only screen  and (max-width:740px){

    .social img{
        width: 30px;
        height: 30%;
    }
  }

  @media only screen  and (max-width:700px){
    .container{
        width: 120%;
    }
    .logo{
        position: absolute;
        top: 20vh;
        left: 50vw;
        justify-items: center
    }
  }

  @media only screen  and (max-width:575px){
    .container{
        width: 140%;
    }
    .logo{
        position: absolute;
        top: 20vh;
        left: 60vw;
        justify-items: center
    }
  }

  @media only screen  and (max-width:500px){
    .logo{
        position: absolute;
        top: 20vh;
        left: 55vw;
        justify-items: center
    }

      .box2{
        display: grid;
        width: 50%;
        margin: auto;
        
      }
    .button1{
        order:1;
        padding: 15px;
        width: 70%;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        margin: auto;
        font-size: 15px;
    }    
    .button2{
        order:2;
        padding: 15px;
        width: 70%;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        margin: auto;
        margin-top: 5px;
        font-size: 15px;
    } 

    .clipboard{
        display: grid;
        width: 50%;
        margin: auto;
        
      }
    .button3{
        order:1;
        padding: 15px;
        width: 70%;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        margin: auto;
        font-size: 15px;
    }    
    .button4{
        order:2;
        padding: 15px;
        width: 70%;
        background-color:hsl(171, 66%, 44%); 
        border: 0px;
        border-radius: 35px;
        cursor: pointer; 
        margin: auto;
        margin-top: 5px;
        font-size: 15px;
    } 
    .foot{
        display: grid;
        width: 100%;
    }
    
    .footer-logo{
        order: 1;
        margin: auto;
        width: 50%;
        padding-top: 20px;
        padding-left: 100px;
        justify-content: center;
    }
    .grid-container{
        width: 100%;
        order: 2;
    }
    .footer-logo img{
        width: 30%;
    }
    .social{
        order: 3;
        padding-top: 20px;
        margin: auto;
        width: 50%;
        justify-content: center;

    }
    .social img{
        height: 100%;
    }
  }
  @media only screen  and (max-width:360px){
    .footer-logo{
        width: 50%;
        padding-left: 70px;

    }
    .logo{
        left: 47vw;

    }
  }
